<div class="card card--{{ variant }}">
  <div class="card__content">
  {% if title %}
    <h5 class="card__title">{{ title }}</h5>
  {% endif %}
  {% if text %}
    <p class="card__text">{{ text }}</p>
  {% endif %}
  </div>

  {% if cta %}
    <div class="card__cta">{{ cta }}</div>
  {% endif %}
</div>

