<div class="card">
  <div class="cardcontent">
    <h5 class="cardtitle">{{ title }}</h5>
    <p class="cardtext">{{ text }}</p>
  </div>

  <div class="cardcta">
    <div>{{ pattern('button',{
        text: 'click here',
        url: '/node'
    }) }}</div>
  </div>
</div>

