<div class="card">
  <div class="card__content">
    <h5 class="card__title">{{ title }}</h5>
    <p class="card__text">{{ text }}</p>
  </div>

  <div class="card__cta">
    <div>{{ cta }}</div>
  </div>
</div>

