.btn{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(12, 131, 18);
    color: rgb(255, 255, 255);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-decoration:none;
}