.btn{
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-decoration:none;
    background-color: transparent;
}

.card--blue .btn:hover{
    background-color: rgb(255, 255, 255);
    color: #154d61;
    border: #154d61;
    text-decoration: underline;
}

.card--orange .btn:hover{
    background-color: rgb(255, 255, 255);
    color: #C44B12;
    border: #C44B12;
    text-decoration: underline;
}

i{
  padding-left: 15px;
}