.card{
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    padding: 40px 40px;
    font-size: 16px;
   
    cursor: pointer;
    text-decoration:none;
}

.card--blue{
    background-color: #154d61;
}

.card--orange{
    background-color: #C44B12;
}

.card__content {
    width: 50%;
    align-self: center;
}
  
.card__title{
    color: rgb(255, 255, 255);
    margin-top: 0;
}

.card__text{
    color: rgb(255, 255, 255);
}

.card__cta{
    width: 50%;
    align-self: center;
    padding-left: 4em;
}